page-trip-detail {

  .list {
    margin-bottom: 0;
  }

  .bg-color1 {
    background: #F7F9FB;
  }

  .bg-color2 {
    background: #EAEFF2;
  }

  .stars {

    ion-icon {
      margin-top: 20px;
      font-size: 3em;
      margin-right: 10px;
    }
  }
}